body {
    color: #615C5C;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin: 0 auto;
    background-color: #282323;
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 669px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.log__in__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #C2B3A2;
    border-radius: 30px;
    margin-top: 120px;
}

.form__tittle {
    display: flex;
    justify-content: center;
    color: #887157;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    margin-top: 44px;
    margin-bottom: 10px;
    align-items: center;
    gap: 20px;
    padding: 0 43px;
}

.line {
    height: 2px;
    background: #887157;
    flex-grow: 1;
}

.main__information {
    display: flex;
    justify-content: center;
}

.main__content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

h {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 18px;
    color: #282323;
    margin-left: 30px;
}

.login {
    border: 2px solid #887157;
    border-radius: 30px;
    background: #C2B3A2;
    width: 549px;
    height: 62px;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 30px;
    padding-left: 10px;
}
.password {
    border: 2px solid #887157;
    border-radius: 30px;
    background: #C2B3A2;
    width: 549px;
    height: 62px;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 30px;
    padding-left: 10px;
}

.login:focus {
    outline-color: #887157;
    }

.password:focus {
    outline-color: #887157;
}

.log__in__button {
    display: flex;
    justify-content: center;
    margin-top: 168px;
    margin-bottom: 67px;
}

.log__in {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #bd5151;
    color: #CCCCCC;
    width: 341px;
    height: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}

.log__in:hover {
    background: #d64444;
}