body {
    color: #615C5C;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin: 0 auto;
    background-color: #282323;
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.container {
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    margin: 0 auto;
}

.work__check{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #C2B3A2;
    border-radius: 30px;
}

.main__information{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#carouselExampleIndicators{
    border-radius: 30px;
    margin-top: 25px;
}

.carousel-indicators{
    margin-top: 0;
}

.carousel-inner{
    border-radius: 30px;
    width: 800px;
    height: 750px;
    border: 2px solid #887157;
}

.carousel-item{
    width: 800px;
    height: 750px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside{
    width: 400px;
}

.aside__header{
    display: flex;
    gap: 49px;
    margin-top: 25px;
}

.user__avatar{
    border: 2px solid #887157;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.user__image {
    width: 42px;
    height: 42px;
}

.user__info{
    flex-direction: column;
}

a{
    color: #282323;
    text-decoration: none;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 18px;
    color: #282323;
    margin-bottom: 3px;
}

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #615C5C;
    margin: 0 auto;
}

.subscribe{
    background-color: #BB5C5C;
    border-radius: 30px;
    border: 2px solid #BB5C5C;
    font-size: 17px;
    padding: 0 12px;
}

.subscribed{
    background-color: #6a6a6a;
    border-radius: 30px;
    border: 2px solid #6a6a6a;
    font-size: 17px;
    padding: 0 12px;
}

.comments{
    width: 400px;
    flex-direction: column;
    margin-top: 15px;
}

.users__comments{
    border: 2px solid #887157;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 0;
    height: 590px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 15px;
}

.users__comments::-webkit-scrollbar {
    width: 0;
}

.write__comment{
    display: flex;
}

.comment-field{
    width: 400px;
    height: 103px;
    background: #C2B3A2;
}

textarea:focus{
    outline:1px solid #887157;
}

.comment{
    width: 400px;
    height: 100px;
    background: #C2B3A2;
    border: 2px solid #887157;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 80px;
    resize: none;
}

.comment-text{
    line-break: anywhere;
    hyphens: auto;
    padding-right: 20px;
}

.comment:focus {
    outline-color: #887157;
    }

.comment::-webkit-scrollbar {
    width: 0;
}

::placeholder{
    color: #282323;
}

.aside__footer{
    display: flex;
    margin-top: 10px;
}

.add__favorite{
    background-color: #C2B3A2;
    width: 49px;
    height: 49px;
}

.favorite{
    background-color: #C2B3A2;
    border: 2px solid #887157;
    border-radius: 30px;
    height: 100%;
}

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 18px;
    color: #282323;
    margin-top: 20px;
    margin-left: 10px;
}

.comment__info{
    flex-direction: column;
    text-align: right;
    margin-left: 166px;
}

h4{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #615C5C;
    margin: 0 auto;
    margin-bottom: 5px;
}

h5{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #615C5C;
}

.project__files__temp {
    margin-left: 30px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
}

.description__text{
    text-align: center;
    padding: 20px 50px;
    word-wrap: break-word;
}

h6{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 18px;
    color: #282323;
}

.form__tittle{
    display: flex;
    color: #282323;
    font-style: normal;
    font-size: 30px;
    gap: 20px;
    padding-left: 70px;
    align-items: center;
    padding-right: 43px;
}

.line{
    height: 2px;
    background: #887157;
    flex-grow: 1;
    padding-right: 43px;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.portfolio__col {
    width: 278px;
    height: 364px;
    background: #C2B3A2;
    border-radius: 30px;
    color: aliceblue;
    padding: 16px;
    margin: 22px 21px;
    transition: box-shadow .2s linear;
    border: 2px solid #887157;
}

.portfolio__col:hover{
    box-shadow: 0 0 25px;
    color: #000 25%;
}

.img{
    width: 242px;
    height: 242px;
}

.work__image {
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #887157;
    border-radius: 30px;
    width: 250px;
    height: 70px;
}

.work__text{
    font-size: 25px;
    color: #584937;
    overflow: hidden;
}

.work__favorites{
    border: 2px solid #887157;
    border-radius: 30px;
}

.work__content{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

*,
*:before,
*:after {
box-sizing: border-box;
}
.comment-field{
    display: flex;
}
.comment-field input{
    opacity: 0;
    position:absolute;
    margin-left: 330px;
    margin-top: 35px;
    height: 30px;
    width:50px;
}
.comment-field img{
    opacity: 1;
    position:absolute;
    margin-left: 330px;
    margin-top: 35px;
    height: 30px;
    width:50px;
}