{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'skillport/css/create.css' %}">
{% endblock %}

{% block title %}
    SkillPort - Создание проекта
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="create__project">
                <div class="header">
                    <div class="form__tittle">
                        <div class="line"></div>
                        <div>Создание проекта</div>
                        <div class="line"></div>
                        <button>
                            <img src="" alt="" class="close">
                        </button>
                    </div>
                </div>
                <div class="name">
                    <h1>Название</h1>
                    {{ form.title }}
                </div>
                <div class="main__information">
                    <div class="pictures">
                        <div class="upload">
                            <h1>Обложка</h1>
                            {{ form.image }}
                        </div>
                        <div class="main__pictures">
                            <img src="https://placehold.it/400x400" alt="" class="main__picture">
                        </div> 
                    </div>
                    <div class="content">
                        <h1>Направление</h1>
                        <div class="dropdown">
                            {{ form.content_type }}
                        </div>
                        <div class="upload">
                            <h1>Дополнительные фото</h1>
                            {{ imageform.managementform }}
                            {{ imageform.additional_image }}  
                            {% comment %} <input type="file" class="input-button"> {% endcomment %}
                        </div>
                        <div class="other__pictures">
                            <img src="https://placehold.it/125x125" alt="" class="other__picture">
                            <img src="https://placehold.it/125x125" alt="" class="other__picture">
                            <img src="https://placehold.it/125x125" alt="" class="other__picture">
                            <img src="https://placehold.it/125x125" alt="" class="other__picture">
                            <img src="https://placehold.it/125x125" alt="" class="other__picture">
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h2>Описание</h2>
                    {{ form.description }}
                </div>
                <div class="publish">
                    <button class="publish__button">Опубликовать</button>
                </div>
            </div>
    </div>
{% endblock content %}