{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="works">
        <div class="container">
            <div class="portfolio">
            {% for project in favorites %}
                <div class="portfolio__col">
                    <div class="work">
                        <img src="{% if project.image %}{{ project.image.url }}{% else %}https://placehold.it/272x272{% endif %}" alt="" class="work__image">
                        <div class="work__content">
                            <div class="work__title">
                                <p>{{ project.title }}</p>
                            </div>
                            <form action="{% url 'like_project'%}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="project_id" value="{{ project.pk }}" class="work__favorites_button">
                                    <img src="{% if request.user in project.likes.all %}{% static 'skillport/img/favorites.png' %}{% else %}{% static 'skillport/img/favorites_empty.png' %}{% endif %}" alt="" class="work__favorites">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}