{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="works">
        <div class="container">
            <div class="nav-links">
                <div class="search">
                    <input class="search__text" placeholder="Поиск...">
                </div>
                <div class="dropdown">   
                    <form>
                        <select class="dropdown__menu">
                            <option class="category">Все категории</option>
                            <option class="category">Дизайн</option>
                            <option class="category">Код</option>
                            <option class="category">Хуйня</option>
                            <option class="category">JavaScript</option>
                        </select>
                    </form>    
                </div>
            </div>

            <div class="portfolio">
            {% for project in projects %}
                    <div class="portfolio__col">
                        <div class="work">
                            <div class="image">
                                <a href="{% url 'project' project.pk %}" target = "_blank">
                                    <img src="{% if project.image %}{{ project.image.url }}{% else %}https://placehold.it/272x272{% endif %}" alt="" class="work__image">
                                </a>
                            </div>
                            <div class="work__content">
                                <div class="work__title">
                                    <div class="work__text">
                                        {{ project.title }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}