{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'skillport/css/log_in_style.css' %}">
    <title>Log In</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="log__in__form">
                <div class="form__tittle">
                    <div class="line"></div>
                    <div>Вход</div>
                    <div class="line"></div>
                </div>

                <div class="main__information">
                    <div class="main__content">
                        <h>Логин</h>
                        <input type="text" name="username" class="login">
                        <h>Пароль</h>
                        <input type="password" name="password" class="password">
                    </div>
                </div>

                <div class="log__in__button">
                    <button class="log__in" type="submit">Войти</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>