<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'skillport/css/sign_up_style.css' %}" type="text/css">
    <title>Registration</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="register-form"> 
                <div class="form-title-1">
                    <div class="line"></div>
                    <div>Регистрация</div>
                    <div class="line"></div>
                </div>

                <div class="main-information">
                    <img src="https://placehold.it/375x300" alt="" class="logo">
                    <div class="main-content">
                        <h1>Ваш логин</h1>
                        <input type="text" name="username" class="login">
                        <h1>Электронная почта</h1>
                        <input type="text" name="email" class="email">
                        <h1>Пароль</h1>
                        <input type="password" name="password1" class="password">
                        <h1>Повторите пароль</h1>
                        <input type="password" name="password2" class="password">
                    </div>
                </div> 
                
                <div class="form-title-2">
                    <div class="line"></div>
                    <div>Дополнительная информация</div>
                    <div class="line"></div>
                </div>

                <div class="other-information">
                    <div class="other-content">
                        <div class="surname-name-h">
                            <title_1>Фамилия</title_1>
                            <title_1>Имя</title_1>
                        </div>
                        <div class="surname-name">
                            <input type="text" name="surname" class="surname">
                            <input type="text" name="name" class="name">
                        </div>
                        <h2>Специализация</h2>
                        <input type="text" name="specialization" class="specialization">
                        <h2>Ссылки на соцсети</h2>
                        <input type="text" name="links" class="links">
                    </div>
                    <div class="create">
                        <div class="user-setting">
                            <img src="https://placehold.it/150x150" alt="" class="avatar">
                            <button class="contract">✔</button>
                            <title_2>Соглашаюсь</title_2>
                        </div>
                        <button class="register" type="submit">Зарегистрироваться</button>
                    </div>
                </div>
                <div class="about-me">
                    <h2>Напишите немного о себе</h2> 
                    <input type="text" name="about" class="about">
                </div>
            </div>
        </div>
    </form>
</body>
</html>