{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skillport/css/subscriptions.css' %}">
    <title>Skillport - Подписки</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                    
                <div class="user">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'skillport/img/logo.svg' %}" alt="logo">
                    </a>
                </div>

                <nav class="nav">
                    <a href="{% url 'favorites' %}" class="nav__link">
                        <img src="{% static 'skillport/img/favorites.png' %}" alt="">
                    </a>
                    <a href="{% url 'subscriptions' %}" class="nav__link">
                        <img src="{% static 'skillport/img/add.png' %}" alt="">
                    </a>
                    <a href="{% url 'profile' %}" class="nav__link">
                        <img src="{% static 'skillport/img/profile.png' %}" alt="">
                    </a>
                    <p>{{ request.user }} | 
                        <a href="{% url 'logout' %}">Logout</a>
                    </p>

                </nav>

            </div>
        </div>
    </header>
    <div class=''>
        <div class="container">
            <div class="nav-links">
                <div class="nav-links__input-wrapper">
                    <input type="text" name="input-nav" id="input-nav" placeholder="Поиск...">
                    <button class="nav-links__button">Найти <img src="{% static 'skillport/img/search-icon.png' %}"
                        alt="search-icon"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="subed__all">
            {% for person in subscriptions %}
            <div class="subed__single">
                <img src="{{ person.profile_picture.url }}" alt="" class="subed__pic">
                <div class="subed__info">
                    <a href="{% url 'another_profile' person.pk %}"><label class="subed__login">{{ person }}</label></a>
                    <br>
                    <label class="subed__counter">{{ person.get_subscriptions_count }}</label>
                </div>
                <form action="{% url 'unsubscribe' %}" method="POST">
                    {% csrf_token %}
                    <button class="sub__button" type="submit" name="user_id" value="{{ person.pk }}">Вы подписаны</button> 
                </form>
            </div>
            {% endfor %}
        </div>
        
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__link">
                    https://vk.com/kegab00m
                </div>
                <div class="footer__logo">
                    <img src="{% static 'skillport/img/logo.jpg' %}" alt="" width="42" height="42">
                </div>
            </div>
        </div>
    </footer>
</body>